body{
    margin: 0;
    background-color: #ac7342;
    height: 100vh;   
}
main{
    width: 100%;
}
h1{
    margin: 0;
}
.footer{
    justify-content: space-between;
    align-items: center;
    background-color: #9a673a;
}
.display-flex{
    display: flex;
}
.header{
    padding: 3px 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #9a673a;
}
.header a{
    text-decoration: none;
    color: black;
}
.logotipe{
    justify-content: center;
    padding-bottom: 20px;
}
.mode{
    justify-content: center;
}
.techies-easy,
.techies-mid,
.techies-hard,
.techies-mid-disabled,
.techies-hard-disabled{
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.techies-mid-disabled,
.techies-hard-disabled{
    cursor: default;
}
.techies-easy::before,
.techies-mid::before,
.techies-hard::before,
.techies-mid-disabled::before,
.techies-hard-disabled::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    border-radius: 50%;
}
.techies-easy::before{
    background: url("image/techies-easy.png") no-repeat center/cover;
}
.techies-mid::before{
    background: url("image/techies-normal.png") no-repeat center/cover;
}
.techies-hard::before{
    background: url("image/techies-hard.png") no-repeat center/cover;
}
.techies-mid-disabled::before{
    background: url("image/techies-normal-disabled.png") no-repeat center/cover;
}
.techies-hard-disabled::before{
    background: url("image/techies-hard-disabled.png") no-repeat center/cover;
}
.techies-easy:hover,
.techies-mid:hover,
.techies-hard:hover{
    transform: scale(1.2);
}
.justify-content-center{
    justify-content: center;
}
.submit{
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 350px;
    height: 175px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.submit::before{
    content: "";
    position: absolute;
    width: 350px;
    height: 175px;
    top: 0;
    left: 0;
    background: url("image/submit.png") no-repeat center/cover;
}
.results{
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 400px;
    height: 175px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.results::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 175px;
    top: 0;
    left: 0;
    background: url("image/results.png") no-repeat center/cover;
}
.game{
    justify-content: center;
    column-gap: 44px;
}
.orel,
.reshka{
    margin: 0;
    min-width: 300px;
    min-height: 300px;
}
.orel input,
.reshka input{
    display: none;
}
.orel input + label,
.reshka input + label{
    position: relative;
}
.orel input + label::before,
.orel input:checked + label::after,
.reshka input + label::before,
.reshka input:checked + label::after{
    content: "";
    position: absolute;
    left: 0;
    width: 300px;
    height: 300px;
    cursor: pointer;
    display: inline-block;
}
.orel input + label::before{
    background: url("image/orel.png");
}
.orel input:checked + label::after{
    background: url("image/orel-comfirmed.png");
}
.reshka input + label::before{
    background: url("image/reshka.png");
}
.reshka input:checked + label::after{
    background: url("image/reshka-comfirmed.png");
}
.font-win-and-try{
    font-family: "Pacifico", cursive;
    font-size: 26px;
}
.font-results{
    font-family: "Pacifico", cursive;
    font-size: 52px;
}
.font-for-level{
    font-family: "Pacifico", cursive;
    font-size: 26px;
}
.na-golovnu{
    justify-content: center;
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 420px;
    height: 100px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.na-golovnu::before{
    justify-content: center;
    content: "";
    position: absolute;
    width: 420px;
    height: 100px;
    top: 0;
    left: 0;
    background: url("image/na-golovnu.png") no-repeat center/cover;
}
.restart{
    justify-content: center;
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 420px;
    height: 120px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.restart::before{
    justify-content: center;
    content: "";
    position: absolute;
    width: 420px;
    height: 120px;
    top: 0;
    left: 0;
    background: url("image/restart.png") no-repeat center/cover;
}