body{
    margin: 0;
    background-color: #ac7342;
    height: 100vh;   
}
main{
    width: 100%;
}
h1{
    margin: 0;
}
.footer{
    justify-content: space-between;
    align-items: center;
    background-color: #9a673a;
}
.display-flex{
    display: flex;
}
.header{
    padding: 3px 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #9a673a;
}
.header a{
    text-decoration: none;
    color: black;
}
.logotipe{
    justify-content: center;
    padding-bottom: 20px;
}
.mode{
    justify-content: center;
}
.techies-easy,
.techies-mid,
.techies-hard{
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.techies-easy::before,
.techies-mid::before,
.techies-hard::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    border-radius: 50%;
}
.techies-easy::before{
    background: url("image/techies-easy.png") no-repeat center/cover;
}
.techies-mid::before{
    background: url("image/techies-normal.png") no-repeat center/cover;
}
.techies-hard::before{
    background: url("image/techies-hard.png") no-repeat center/cover;
}
.techies-easy:hover,
.techies-mid:hover,
.techies-hard:hover{
    transform: scale(1.2);
}